@model WeatherApplication.Models.WeatherModel

@{
    ViewBag.Title = "Weatherfi";
    DateTime today = DateTime.Now;
    var d = 0;
}

<div class="jumbotron">
    <h1>@Model.City.Name</h1>
    <p class="lead">Weather forecast for @Model.City.Name</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>5 dages vejrudsigt</h2>
        @foreach (var v in Model.List)
        {
            var dates = v.DtTxt.ToString().Split(' ');
            var days = dates[0];
            var time = dates[1];
            <p>
                @days
            </p>
            <p>
                @time
            </p>
        }
    </div>
</div>